{% extends "base.html" %}
{%load staticfiles%}
{%block title%}
Templates tags and variables
{%endblock%}
{%block article_name%}
Шаблонные переменные и теги
{%endblock%}

{% block user_in_out %}
{%if not anonymous %}
<p style="color: white; text-align: center">Добро пожаловать,<br>
<a href="/logout" title= "Выйти" style="color: white">{{user}}</a></p>
{%else%}
{{block.super}}
{%endif%}
{%endblock%}

{%block context%}
<p>В основе шаблонов Django находятся тэги, которые размещаются в HTML-страницах. Далее страница «скармливается» методу render() (который мы использовали при создании view), выполняются инструкции, написанные в тэгах и отрендеренная страница возвращается в качестве ответа.</p><br>
<p>Тег внутри шаблона заключается в последовательность из фигурной скобки и знача процента — {<span></span>% … %}. Существует другой, частный, но очень часто используемый, вид тэга — тэг вывода {<span></span>{ … }}— в этот тэг передается не инструкция, а переменная для вывода.</p><br>


<p>Тэги позволяют применять конструкции for и if:
{% for entry in entries %} … {% endfor %}
и
{% if entry.has_comments %} … {% endif %}
Обратите внимание, что, в отличии от Python, в шаблонах необходимо указывать закрывающие тэги.</p><br>
<p>Для тэга вывода используется второе понятие языка шаблонов — фильтр. Указывается он как вертикальная черта после переменной для вывода и служит как-бы инструкцией для обработки переменной перед выводом. Например, <pre>{{ entry.title|upper }}</pre> превратит все буквы заголовка записи в заглавные. Фильтров может быть несколько, тогда каждый из них отделяется вертикальной чертой. Выполняются фильтры слева направо.</p><br>
<p>Напоследок следует сказать, что Django позволяет создавать свои собственные тэги и множество приложений этим пользуется. Обычно модули с тэгами располагаются внутри каталога templatetags внутри приложения.</p><br>
<p>
	if/else

Тег <code>{</code>% if %} проверяет значение переменной, и если оно True (т.е. – она не пустая, и её булево значение не false) – система отобразит всё, что указано между <code>{</code>% if %} и <code>{</code>% endif %}, например:</p>
<pre>	
<code>{</code>% if today_is_weekend %}
 Welcome to the weekend!
<code>{</code>% endif %}

</pre>
Тег <code>{</code>% else %} не обязателен:
<pre>

<code>{</code>% if today_is_weekend %}
Welcome to the weekend!
<code>{</code>% else %}
Get back to work.
<code>{</code>% endif %}

</pre>

<p>
	Тег <code>{</code>% for %} позволяет вам выполнять итерацию элементов в последовательности. Как и оператор for в Python, синтаксис его выглядит как for X in Y, где Y – это последовательность элементов, а X – имя переменной для использования в каждом цикле. Каждый раз при выполнении цикла – система шаблонов будет выполнять рендеринг всего, что заключено между <code>{</code>% for %} и <code>{</code>% endfor %}.
</p>
<p>Например, вы можете использовать такой код для отображения списка спортсменов, заданных в списке athlete_list:</p>
<pre>
&lt;ul>
	<code>{</code>% for athlete in athlete_list %}
	    &lt;li><code>{</code>{ athlete.name }}&lt;/li>
	<code>{</code>% endfor %}
&lt;/ul>
</pre>


<p>Фильтры</p>

<p>Как уже было сказано в этой главе ранее, фильтры шаблона  являются самым простым и удобным способом изменить значение переменной перед её отображением. Фильтры используют символ pipe |, например так:</p>
<pre>
	<code>{</code>{ name|lower }}
</pre>
<p>Таким образом будет выведено значение переменной <code>{</code>{ name }} после применения фильтра lower, который переведёт текст в нижний регистр символов.</p>

<p>Фильтры могут быть объединены в цепочки и использованы вместе, таким образом вывод одного фильтра будет передан на обработку второму фильтру. В следующем примере первый элемент списка попадает под фильтр, а потом изменяется в заглавные символы:</p>
<pre>
	<code>{</code>{ my_list|first|upper }}
</pre>
<p>Некоторые фильтры могут принимать аргументы. Аргументы фильтра указываются после двоеточия и в двойных кавычках:</p>
<pre>
	<code>{</code>{ bio|truncatewords:"30" }}
</pre>
<p>Так будут выведены первые 30 символов переменной bio.</p>

<p>Вот несколько наиболее полезных фильтров:</p>

    <p>addslashes – добавляет символы косой черты перед любыми другими слешами, одинарными или двойными кавычками. Полезно при использовании JavaScript в коде.</p>

    <p>date – форматирование объектов date или datetime в соответствии с заданными параметрами, например:</p>
<pre>
    <code>{</code>{ pub_date|date:"F j, Y" }}
</pre>
    <p>length – возвращает длину значения переменной. Для списка – количество элементов, для строки – количество символов. Работает  с любым объектом, который поддерживает метод __len__().
</p>
<br>

<p>Оставьте ваш комментарий:</p>
<form action="" method="post">
{%csrf_token%}
	<textarea maxlength="300" rows="2" cols="80" name="comment"
	{%if anonymous%}
	placeholder="Для отправки комментария вам необходимо войти." 
	{%else%}
	placeholder="Ваш комментарий" 
	{%endif%}
	></textarea><br>
	<input type="submit" name="" value="Отправить" style="width: 15em; height: 4em; ">
</form>
{%for comment in comments%}

<div {%if forloop.counter|divisibleby:2 %}style="text-align:right; width:60%; margin-left: 20%; background: #f2f2f2" {%else%}style="text-align:left; width:60%; margin-left: 20%;" {%endif%}>
{{comment.user_name}}:<br>
<div style="">{{comment.context}}</div>
{{comment.date|date:"d F, Y"}}
</div>
{%endfor%}

{%endblock%}