{% extends "base.html" %}
{%load staticfiles%}
{%block title%}
Язык python. Введение.
{%endblock%}
{%block article_name%}
Язык python. Введение.
{%endblock%}

{% block user_in_out %}
{%if not anonymous %}
<p style="color: white; text-align: center">Добро пожаловать,<br>
<a href="/logout" title= "Выйти" style="color: white">{{user}}</a></p>
{%else%}
{{block.super}}
{%endif%}
{%endblock%}

{%block context%}
<p>Python - это, как вы могли догадаться, язык программирования. Он прост в освоении, гибок в применении, ну и не лишним будет добавить - очень мощный. Его встроенные возможности очень широки, а наличие большого количества сторонних библиотек и фреймворков делает этот язык просто универсальным, которому по плечу любая задуманная вами идея. </p><br>
<p>Следует отметить, что python - высокоуровневый, интерпретируемый язык программирования. </p><br>


<p>Высокоуровневые языки были созданы с одной единственной целью - упростить жизнь программиста. Так например, описывая логику работы программы, мы не задумываемся над тем, как эта программа будет выполена компьютером. Сейчас, чтобы наша программа заработала, нам не нужно знать "железо" компьютера, не нужно знать в какой области памяти будет хранится одна переменная, а в каком - другая и т.д. Все эти обязанности были переложены на программы-помощники: трансляторы или интерпретаторы, именно они обеспечивают связь наших программ с операционной системой.</p><br>
<p>Кроме того высокоуровневые языки делают наши программы независимыми от конкретной операционной системы, программа не привязана к одной единственной платформе, что ещё более облегчает труд программиста. Иначе нам бы пришлось писать одну и туже программу, но для разных систем, отнимая у программиста самое дорогое - время.</p><br>
<p>Кроме того высокоуровневые языки делают наши программы независимыми от конкретной операционной системы, программа не привязана к одной единственной платформе, что ещё более облегчает труд программиста. Иначе нам бы пришлось писать одну и туже программу, но для разных систем, отнимая у программиста самое дорогое - время.</p><br>
<p>Как уже говорилось ранее, python - интерпретируемый язык, из чего следует, что программа, реализующая выполнение нашего кода, носит название интерпретатора.

Интерпретатор - это программа, которая на вход получает наш код и начинает его выполнять последовательно строка за строкой, преобразовывая каждую высокоуровневую команду в соответствующую ей низкоуровневую, близкую к машинному коду. Компилятор же берёт всю программу сразу, проверяет её на ошибки и преобразовывает, так называемый исходный код, в объектный код, выполненный на машинно-ориентированном языке.</p><br>
<p>Интерпретатор python представляет собой нечто среднее - интерпретатор компилирумого типа, т.е содержит в себе как компилятор, так и интерпретатор. Вначале исходный код компилируется в промежуточный код, а затем уже интерпретатор выполняет полученный после компилятора так называемый байт-код. Забегая наперёд скажу, что при выполнении вашей программы, интерпретатор создаёт папку __pycache__, в которой хранится байт-код вашей программы (файл с расширением pyc). Интерпретатору проще работать с байт-кодом, поэтому в случае, когда вы запускаете файл python на выполнение, он вначале ищет соответствующий ему файл с расширением .pyc, что ускоряет работу интерпретатора.</p><br>
<p></p>

<p>Оставьте ваш комментарий:</p>

<form action="" method="post">
{%csrf_token%}
	<textarea maxlength="300" rows="2" cols="80" name="comment"
	{%if anonymous%}
	placeholder="Для отправки комментария вам необходимо войти." 
	{%else%}
	placeholder="Ваш комментарий" 
	{%endif%}
	></textarea><br>
	<input type="submit" name="" value="Отправить" style="width: 15em; height: 4em; ">
</form>
{%for comment in comments%}

<div {%if forloop.counter|divisibleby:2 %}style="text-align:right; width:60%; margin-left: 20%; background: #f2f2f2" {%else%}style="text-align:left; width:60%; margin-left: 20%;" {%endif%}>
{{comment.user_name}}:<br>
<div style="">{{comment.context}}</div>
{{comment.date|date:"d F, Y"}}
</div>

{%endfor%}
{%endblock%}