{% extends "base.html" %}
{%load staticfiles%}
{%block title%}
Работа с модулями в python.
{%endblock%}
{%block article_name%}
Работа с модулями в Python.
{%endblock%}

{% block user_in_out %}
{%if not anonymous %}
<p style="color: white; text-align: center">Добро пожаловать,<br>
<a href="/logout" title= "Выйти" style="color: white">{{user}}</a></p>
{%else%}
{{block.super}}
{%endif%}
{%endblock%}

{%block context%}
<p>Модулем в Python называется любой файл с программой (да-да, все те программы, которые вы писали, можно назвать модулями). В этой статье мы поговорим о том, как создать модуль, и как подключить модуль, из стандартной библиотеки или написанный вами.<p>

<p>Каждая программа может импортировать модуль и получить доступ к его классам, функциям и объектам. Нужно заметить, что модуль может быть написан не только на Python, а например, на C или C++.</p><br>

<p>Подключение модуля из стандартной библиотеки</p><br>

<p>Подключить модуль можно с помощью инструкции <span style="color:red">import</span>. После ключевого слова <span style="color:red">import</span> указывается название модуля. Одной инструкцией можно подключить несколько модулей, хотя этого не рекомендуется делать, так как это снижает читаемость кода. </p>

<p>После импортирования модуля его название становится переменной, через которую можно получить доступ к атрибутам модуля. </p><br>

<p>Использование псевдонимов</p><br>

<p>Если название модуля слишком длинное, или оно вам не нравится по каким-то другим причинам, то для него можно создать псевдоним, с помощью ключевого слова <span style="color:red">as</span>.</p><br>

<p>Инструкция from</p><br>

<p>Подключить определенные атрибуты модуля можно с помощью инструкции <span style="color:red">from</span>. </p><br>

<p>Создание своего модуля на Python</p><br>

<p>Теперь пришло время создать свой модуль. Создадим файл mymodule.py, в которой определим какие-нибудь функции:</p>
<pre>
>>> def sum(a, b):
	return a+b
</pre>
<p>Теперь в этой же папке создадим другой файл, например, main.py:.</p>
<pre>
>>>from mymodule import sum
>>>sum(1, 2)
3
</pre>
<p>Можно ли использовать модуль как самостоятельную программу?

Можно. Однако надо помнить, что при импортировании модуля его код выполняется полностью, то есть, если программа что-то печатает, то при её импортировании это будет напечатано. Этого можно избежать, если проверять, запущен ли скрипт как программа, или импортирован. Это можно сделать с помощью переменной __name__, которая определена в любой программе, и равна "__main__", если скрипт запущен в качестве главной программы, и имя, если он импортирован. Например, mymodule.py может выглядеть вот так:</p>

<br>

<form action="" method="post">
{%csrf_token%}
	<textarea maxlength="300" rows="2" cols="80" name="comment"
	{%if anonymous%}
	placeholder="Для отправки комментария вам необходимо войти." 
	{%else%}
	placeholder="Ваш комментарий" 
	{%endif%}
	></textarea><br>
	<input type="submit" name="" value="Отправить" style="width: 15em; height: 4em; ">
</form>
{%for comment in comments%}

<div {%if forloop.counter|divisibleby:2 %}style="text-align:right; width:60%; margin-left: 20%; background: #f2f2f2" {%else%}style="text-align:left; width:60%; margin-left: 20%;" {%endif%}>
{{comment.user_name}}:<br>
<div style="">{{comment.context}}</div>
{{comment.date|date:"d F, Y"}}
</div>
{%endfor%}

{%endblock%}