{% extends "base.html" %}
{%load staticfiles%}
{%block title%}
Типы данных в python.
{%endblock%}
{%block article_name%}
Типы данных в Python.
{%endblock%}

{% block user_in_out %}
{%if not anonymous %}
<p style="color: white; text-align: center">Добро пожаловать,<br>
<a href="/logout" title= "Выйти" style="color: white">{{user}}</a></p>
{%else%}
{{block.super}}
{%endif%}
{%endblock%}

{%block context%}
<p> Python, как и любой другой язык программирования, оперирует различными типами данных, из которых и состоят наши программы. Отличительной особенностью данного языка программирования является то, что нам не нужно явно указывать этот тип. Дело в том, что при первом присвоении переменной какого-либо значения Python сам определяет её тип и следит за ней в дальнейшем.</p><br>

<p>В Python имеются такие встроенные типы данных.</p> <br>

    <p>Логический (булевый), может принимать одно из двух значений — True (истина) или False (ложь).</p><br>
    <p>Числа, могут быть целыми (1 и 2), с плавающей точкой (1.1 и 1.2), дробными (1/2 и 2/3), и даже комплексными.</p><br>
    <p>Строки — последовательности символов Юникода, например, HTML-документ.</p><br>
    <p>Байты и массивы байтов, например, файл изображения в формате JPEG.</p><br>
    <p>Списки — упорядоченные последовательности значений.</p><br>
    <p>Кортежи — упорядоченные неизменяемые последовательности значений.</p><br>
    <p>Множества — неупорядоченные наборы значений.</p><br>
    <p>Словари — неупорядоченные наборы пар вида ключ-значение.</p><br>

<p> Python настолько объектно-ориентированный, что буквально всё в нем представленно как объкты.</p><br>

<p>Логический тип данных может принимать одно из двух значений: истина или ложь. В Python имеются две константы с понятными именами True (от англ. true — истина) и False (от англ. false — ложь), которые можно использовать для непосредственного присвоения логических значений. Результатом вычисления выражений также может быть логическое значение. В определенных местах (например, в операторе if), Python ожидает, что результатом вычисления выражения будет логическое значение. Такие места называют логическим контекстом. Практически любое выражение можно использовать в логическом контексте, Python в любом случае попытается определить его истинность. Для этого имеются отдельные наборы правил, для различных типов данных, указывающие на то, какие из их значений считать истинными, а какие ложными в логическом контексте.  </p><br>

<pre>
>>> logic = True
>>> type(logic)
&lt;class 'bool'>
>>> logic
True
>>> logic = False
>>> logic
False

</pre>


<p>Числа — это потрясающая штука. Их так много, всегда есть, из чего выбрать. Python поддерживает как целые числа, так и с плавающей точкой. И нет необходимости объявлять тип для их различия; Python определяет его по наличию или отсутствию десятичной точки.</p><br>

<pre>
>>> a = 10
>>> type(a)
&lt;class 'int'>
>>> a = a+10
>>> a
20

</pre>


<p>Списки — рабочая лошадка Python. Когда я говорю «список», вы, наверное, думаете: «это массив, чей размер я должен задать заранее и который может хранить элементы только одного типа» и т. п., но это не так. Списки намного интереснее. Списки похожи на динамический массив, работать с ними одно удовольствие.</p><br>

<pre>
>>> ls = [10, a, bool, 'string']
>>> ls
[10, 20, False, 'string']
>>> type(ls)
&lt;class 'list'>
>>> ls.append(100)
>>> ls
[10, 20, False, 'string', 100]
>>> ls[1:3]
[20, False]

</pre>

<p>Кортеж — это неизменяемый список. Кортеж не может быть изменён никаким способом после его создания.</p><br>
<pre>
>>> tup = ()
>>> type(tup)
&lt;class 'tuple'>
>>> tup = (12)
>>> type(tup)
&lt;class 'int'>
>>> tup = (12,)
>>> type(tup)
&lt;class 'tuple'>

</pre>
<p>Множество — это «мешок», содержащий неупорядоченные уникальные значения. Одно множество может содержать значения любых типов. Если у вас есть два множества, вы можете совершать над ними любые стандартные операции, например, объединение, пересечение и разность.</p><br>
<pre>
>>> set = {1, '2', 1.45, 'string'}
>>> type(set)
&lt;class 'set'>

</pre>

<p>Словарь — это неупорядоченное множество пар ключ—значение. Когда вы добавляете ключ в словарь, вы также должны добавить и значение для этого ключа. (Значение всегда можно изменить позже.) Словари в Python оптимизированы для получения значения по известному ключу, но не для других целей.</p><br>
<pre>
>>> s = {}
>>> type(s)
&lt;class 'dict'>
>>> s['key'] = 'value'
>>> s
{'key': 'value'}

</pre>
<p>None — это специальная константа в Python. Она обозначает пустое значение. None — это не то же самое, что False. None также и не 0. None даже не пустая строка. Если сравнивать None с другими типами данных, то результатом всегда будет False.</p><br>
<pre>
>>> d = None
>>> True if d is None else False
True
>>> type(d)
&lt;class 'NoneType'>
</pre><br>
<p>
None — это просто пустое значение. None имеет свой собственный тип (NoneType). Вы можете присвоить None любой переменной, но вы не можете создать других объектов типа NoneType. Все переменные, значение которых None равны друг другу.</p><br>

<form action="" method="post">
{%csrf_token%}
	<textarea maxlength="300" rows="2" cols="80" name="comment"
	{%if anonymous%}
	placeholder="Для отправки комментария вам необходимо войти." 
	{%else%}
	placeholder="Ваш комментарий" 
	{%endif%}
	></textarea><br>
	<input type="submit" name="" value="Отправить" style="width: 15em; height: 4em; ">
</form>
{%for comment in comments%}

<div {%if forloop.counter|divisibleby:2 %}style="text-align:right; width:60%; margin-left: 20%; background: #f2f2f2" {%else%}style="text-align:left; width:60%; margin-left: 20%;" {%endif%}>
{{comment.user_name}}:<br>
<div style="">{{comment.context}}</div>
{{comment.date|date:"d F, Y"}}
</div>
{%endfor%}

{%endblock%}