*{
	margin: 0;
	padding: 0;
}
body{
	background: #f2f2f2;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 1.2rem;
	line-height: 1.6;
	text-rendering: optimizeLegibility;

}

ul li{
	list-style: none;
}

a{
	color: black;
	text-decoration: none;
}


#enter-registration{
	float: right;
	padding: 1%;

	border: 3px solid #f2f2f2;
	border-bottom: none;
	border-right: none;
	border-top: none;
	
}


#enter a, #registration a{
	color: white;
}



#find{
border: 3px solid rgba(0,0,0,.1);
color: #b9b9b9;
transition: border .3s ease-in-out;
box-shadow: inset 5px 5px 10px -5px rgba(0,0,0,0.05);
}

input[type="search"] {
	
	background: rgba(0,1,0,.03);
	margin: 0;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 1.2rem;
	width: 100%;
}


#header{
	float: left;
	background: rgba(0,0,255,0.5);
	width: 100%;
	box-sizing: border-box;	
	
	
}

.logo{
	width: 80%;
}

#menu{
	
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	top: 0;
	right: 0;
	

}

#menu  ul li{
	display: inline;
	margin-left: 5%;
}

#menu ul li:hover{
	border: 3px solid white;
	border-right: none;
	border-left: none;
}

#menu  ul li a{
	color: white;
}

.context{
	float: left;
	margin-left: 10%;
	width: 60%;
	box-sizing: border-box;	
	padding: 20px;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	background: white;
	color: #5e5e5e;
	
}

.context a{
	color: blue;
	text-decoration: underline;
}

.context img{
	align: center;
}

.context pre{
	/*background: rgba(0,0,255,0.5);*/
	color: rgba(0,0,255,0.5);
	font-size: 0.7em;
	width: 80%;
	font-weight: 600;

}

.entry-header{
padding-top: 2em;
position: relative;
overflow: hidden;
text-align: center;

}

.entry-title{
font-size: 2.0rem;
letter-spacing: -1px;
font-family: "Playfair Display", serif;

}

.code{
	
}

table{
	background: #DCDCDC; /* Цвет фона нечетных строк */
    width: 100%;
}

tr.script{
	background: #FFFFF0;
}

h3{
	text-align: center;
	font-family: Symbol;
}

#left-column{
	float: right;
	margin-right: 2%;
	width: 22%;
	box-sizing: border-box;	
	position: relative;
	margin-bottom: 1%;
	
	
}
.menu{
	margin-top: 3%;
}

.title-menu{
	background: rgba(0,0,255,0.5);
	text-align: center;
	color: white;


}

.title-menu .sub-menu{
	background: white;
	padding: 0;
	text-align: left;
	padding: 5px;
}

.menu ul{
	background: white;
}

.sub-menu > li:hover a{
	color: white;
	background: rgba(0,0,255,0.3);
	margin-left: 10px;
	box-shadow: 0 0 1px #000;
	margin-top: 50px;


}

#footer{
	background: rgba(0,0,255,0.5);
	float: right;
	width: 100%;
	box-sizing: border-box;	
	padding: 10px;
	text-align: center;
}