{% extends "base.html" %}
{%load staticfiles%}
{%block title%}
О проекте
{%endblock%}
{%block article_name%}
Обо мне и о данном проекте
{%endblock%}

{% block user_in_out %}
{%if not anonymous %}
<p style="color: white; text-align: center">Добро пожаловать,<br>
<a href="/logout" title= "Выйти" style="color: white">{{user}}</a></p>
{%else%}
{{block.super}}
{%endif%}
{%endblock%}

{%block context%}
<img src="{% static 'my_foto.jpg'%}" style="float:left; width=120px; height:120px; padding-right: 5px;">
<p>Я увлекся программированием сравнительно недавно - пару лет назад, когда вскольз проходил курсы программирования в универе. Это было первое знакомство с такими языками как С и С++. Это действительно было просто ознакомление, ибо на всё про всё было пару семестров.</p><br>
<p>Но так или иначе начало было положено. Программирование меня увлекло. Спустя какое-то время я продолжил заниматься с С и С++, постигая эту увлекательную науку программирования. Недавно я решил попробовать новый для себя язык, как вы уже догадались, Python. И с момента этого решения ещё ни разу не пожалел. Этот язык интуитивно понятен, хотя бы для тех, кому не чуждо программирование, перепрофилироваться на него можно довольно быстро (здесь речь идёт о понимании синтаксиса). Но как и в любом другом языке, чтобы написать что-то стоящее, нужно будет сидеть и разбираться, это касается и его многочисленных библиотек и фреймворков.</p><br>
<p>Python обладает мощнейший базой, он пригоден для всех сфер программирования. Но в большинстве своём он используется в Web-программировании. Наверное вы не удивитесь, если я скажу, что данный сайт написан именно на нём, ибо изучать python и не углубиться в его сильную сторону, было бы кощунственно. Поэтому я и решил опробовать себя в этой сфере, а между тем закрепить пройденные знания и поделиться ими с остальными.</p><br>
<p>Глядя на внешний вид сайта, можно с уверенностью сказать, что дизайн не моя сильная сторона) Здесь я не буду с вами спорить.</p><br>
<p>Однако это и не было моей целью. Меня как и многих из вас, раз вы заинтересовались этой темой, больше интересует как сайт работает, а не как он выглядит. Этот сайт - мой первый проект написанный в феймворке Django, который также освещается на данном ресурсе. Есть множество других фреймворков, но начинать ясное дело лучше с одного. О Django есть довольно много информации в интернет, он обладает хорошей, полной документацией, что облегчает его освоение, поэтому мой выбор пал именно на него.</p><br>
<p>Вот наверное и всё, что я бы хотел сказать в этой вступительной части. Вобщем и целом, надеюсь информация будет вам полезна, если будут вопросы задавайте их на форуме или пишите мне лично. </p><br>
{%endblock%}