{%extends 'base.html'%}
{%load staticfiles%}
{%block title%}
Python - это круто!
{%endblock%}
{%block article_name%}
Почему python? Чем же он хорош?
{%endblock%}

{% block user_in_out %}
{%if not anonymous %}
<p style="color: white; text-align: center">Добро пожаловать,<br>
<a href="/logout" title= "Выйти" style="color: white">{{user}}</a></p>
{%else%}
{{block.super}}
{%endif%}
{%endblock%}

{%block context%}
Почему именно язык программирования Python?

    <p>Python относительно прост в изучении, поэтому он отлично подходит как первый язык программирования для начинающих.</p>

<p>Python в топе самых популярных <a href="https://pikabu.ru/story/reyting_yazyikov_programmirovaniya_2017_4780146">языков программирования 2017 года.</a></p>
<p style="text-align: center;"><img src="{% static 'reiting.png'%}"></p>

    <p>Python снабжен отличнейшей документацией, вызываемой простой командой help(). Полная документация находится по адресу <a href="https://www.python.org/">https://www.python.org</a> </p>

    <p>Python с легкостью можно применять в любых целях: как написание небольших скриптов, так и создание полноценных приложений, от веб-программирования до разработки игр.</p>
    <p>Так же он по праву считается отличным выбором для наработок в сфере Искусственного Интеллекта.<p>
    <p style="text-align: center;"><img src="{% static 'intelect.jpg'%}">
    </p>
    <p>Отличительной чертой этого языка программирования является его кросс-платформенность. Большинство программ, написанных на Python без изменений запускаются и работают как на OS Windows, так и на Linux или Mac Os.
    Python обладает огромной стандартной библиотекой, которая позволяет решать разнообразные задачи: работа с базами данных, веб-разработка, сложные математичиские вычисления, создание GUI, FTP-доступ и т.д.</p>
    <p>Python широко используется во многих серьезных проектах: поисковик Google, сервис YouTube, фреймворк Google App Engine. Такие монстры IT, как Intel, Hewlett-Packard, IBM, Cisco используют Python с целью тестирования аппаратного обеспечения. Всем известный BitTorrent также написан на питоне. Даже компания Джорджа Лукаса Industrial Light Magic и кинопомпания Стива Джобса Pixar используют этот язык программирования
    Вокруг языка программирования Python сформировалось обширное сообщество, поэтому вы всегда сможете найти ответ в Интернете, если у вас возникли какие-либо затруднения.</p>
    <p>Считается, что Python уступает некоторым другим языкам программирования, если речь идет о производительности (новичка вряд ли будет волновать эта проблема, по крайней мере, на первых порах), но этот недостаток легко исправить благодаря возможности Python'а встраиваться в программы, написанные на других языках (например, С или С++).</p>
    <p>Наконец, то что среда разработки этого языка программирования распространяется абсолютно бесплатно (а в некоторых операционных системах он уже предустановлен).</p>
{%endblock%}