{% extends "base.html" %}
{%load staticfiles%}
{%block title%}
Other sources
{%endblock%}
{%block article_name%}
Другие полезные источники
{%endblock%}



{% block user_in_out %}
{%if not anonymous %}
<p style="color: white; text-align: center">Добро пожаловать,<br>
<a href="/logout" title= "Выйти" style="color: white">{{user}}</a></p>
{%else%}
{{block.super}}
{%endif%}
{%endblock%}





{%block context%}
<p><a href="https://docs.python.org/3/tutorial/index.html">Документация python</a></p>
<p><a href="https://docs.djangoproject.com/en/1.8/">Документация django</a></p>
<p><a href="https://djbook.ru/rel1.8/">Перевод документации django</a></p>
<p><a href="http://itman.in/uroki-django/">Уроки по django на русском языке</a></p>
<p><a href="https://medium.com/@frfahim/django-registration-with-confirmation-email-bb5da011e4ef">Источник о регистрации и аутентификации пользователя</a> (с проверкой электронной почты).</p>
{%endblock%}
